.board {
  display: flex;
  flex-direction: column;

  &_wrapper {
    margin: 20px auto;
    display: inline-block;
  }

  &_row {
    display: flex;
  }

  // @todo: move to the component specific css.
  &_cell {
    width: 30px;
    height: 30px;
    border: 1px black solid;
    background: lightblue;
  }
}
